.bg-properties {
  background: linear-gradient(145deg, #6300a9, #ffbe8a);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#homeScreen {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-variant: small-caps;
  text-align: center;
  position: relative;
  width: 640px;
  height: 360px;
  margin: auto;
  top: 30vh;
}
#homeBtn {
  background: inherit;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
#homeBtn:hover {
  cursor: pointer;
  color: #ffbe8a;
}
.container {
  position: relative;
  width: 640px;
  height: 360px;
  margin: auto;
  top: 20vh;
  box-shadow: 5px 5px 8px rgba(8, 1, 43, 0.596);
}
.video {
  width: 100%;
}
#info {
  position: absolute;
  top: 0;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  background-color: rgba(54, 53, 53, 0.644);
  width: 100%;
}
#title {
  margin: 0;
}
.controller {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.timers {
  position: absolute;
  top: 85%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#progress-wrapper {
  position: relative;
  top: 80%;
  left: 5%;
  border-radius: 20px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.226);
  width: 90%;
  text-align: center;
}
#progress {
  position: absolute;
  border-radius: 20px;
  height: 100%;
}
.timers {
  top: 81%;
  font-size: 14px;
}
#current {
  position: relative;
  float: left;
  left: 5%;
}
#duration {
  position: relative;
  float: right;
  right: 5%;
}
.btn {
  position: relative;
  top: 85%;
  transform: translateY(-100%);
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: scale(1.5);
}
.btn:hover {
  color: rgba(255, 255, 255, 0.973);
}
.display-none {
  display: none;
}

@media (max-width: 1280px) {
  body {
    background-size: 220vh;
  }
}
