body {
  background: linear-gradient(145deg, #6300a9, #ffbe8a);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.homepage {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-variant: small-caps;
  text-align: center;
  position: relative;
}
.mainBtn {
  background: inherit;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.mainBtn:hover {
  cursor: pointer;
  color: #ffbe8a;
}
.container {
  position: relative;
  width: 41rem;
  height: 23rem;
  margin: auto;
  box-shadow: 5px 5px 8px rgba(8, 1, 43, 0.596);
}
.video {
  width: 100%;
}
.info-container {
  position: absolute;
  top: 0;
  opacity: 0;
  margin: auto;
  text-align: center;
  color: white;
  font-family: monospace;
  background-color: rgba(54, 53, 53, 0.644);
  width: 100%;
}
.info-title {
  font-size: 1rem;
}
.controller {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.buttons {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}
.timers {
  position: absolute;
  top: 85%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.progressBar-out {
  position: relative;
  top: 85%;
  left: 5%;
  border-radius: 20px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.226);
  width: 90%;
  text-align: center;
}
.progressBar-in {
  position: absolute;
  border-radius: 20px;
  height: 100%;
}
.timers {
  top: 85%;
  font-size: 14px;
}
.timer-current {
  position: relative;
  float: left;
  left: 5%;
}
.timer-duration {
  position: relative;
  float: right;
  right: 5%;
}
.btn {
  position: relative;
  top: 85%;
  transform: translateY(-100%);
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: scale(1.5);
}
.btn:hover {
  color: rgba(255, 255, 255, 0.973);
}
.display-none {
  display: none;
}
.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: black;
}
.footer-link {
  color: black;
  text-decoration: none;
}
.footer-link:hover {
  color: #ffbe8a;
}
@media (max-width: 780px) {
  body {
    background-attachment: scroll;
    height: 100%;
    width: 100%;
  }
  .homepage {
    padding: 0 2rem;
  }
  .container {
    width: 24rem;
    height: 13rem;
  }
  .buttons {
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .info-title {
    font-size: 0.85rem;
  }
  .progressBar-out {
    position: relative;
    top: 75%;
    left: 5%;
  }
  .timers {
    top: 80%;
    font-size: 14px;
  }
}
